<div align='center'>
    <h2 id='lastPlace'>Last seen at: {{lastPlace}} </h2>
    <h3 id='lastTime'><strong>{{lastTime}}</strong></h3>
    {{#if displaying}}
        <h4>Next stop: {{place}} in {{minutes}} minutes<br>
            Approximate location below-- update when you get on the shuttle to help our accuracy!</h4>
        <img src={{fakeImage}}>
    {{/if}}
</div>
<div style='width: 100%; overflow: hidden;'>

    <h2 id='changeHeader' align='center'>Tell us where the shuttle is!<br></h2>
    <div class='form-wrapper'>
        <form id='hideForm' class="ajax-form" action='submit' method='POST'>
            <p2>
                <label class="form-label"><input type='radio' name='location' value='Wellesley Campus Center'> Wellesley Campus Center</label></li><br><br>
                <label class="form-label"><input type='radio' name='location' value='Wellesley Chapel'> Wellesley Chapel</label></li><br><br>
                <label class="form-label"><input type='radio' name='location' value='Olin East Hall'> Olin East Hall</label></li><br><br>
                <label class="form-label"><input type='radio' name='location' value='Hollister Parking Lot'> Hollister Parking Lot</label></li><br><br>
                <!-- Name (optional): <input type="text" name="name"/><br><br> -->
                <div id="submit-button" ><input class="btn btn-default btn-raised" id="submit" type="submit" value="Submit"></div></p2>
        </form>
    </div><br><br>
</div>
<div align="center" id="area"></div>
<div align="center"><button class="btn btn-default btn-raised" id="cats" data-rel="http://thecatapi.com/api/images/get?format=src&amp;type=gif" style="display:none">Click for a cat gif!</button></div>
<div align='center' style='margin-top:2%;'></p2>
    <p2><a href='/info'>More info</a></p2><br><br>
    <p2>For questions and feedback, please <a href="mailto:bowshuttle@gmail.com">contact the team</a></p2>
    <br><br><p2>Shuttle schedule available <a href="http://www.babson.edu/admission/visiting-babson/wellesley/shuttle-schedule/Pages/weekday-bow-shuttles.aspx">here</a></p2><br><br>
    <p2>See previous sightings <a href='/sightings'>here</a></p2></div>